/************************************************************
 * ATTENTION REGLAGES DE L'INTERFACE GLOBALE.
 * NE PAS TOUCHER AUX LIGNES CI-DESSOUS
 * TRAVAILLEZ A PARTIR DE LA LIGNE 27 !!
 ************************************************************/
 .page{
    width: 900px;
    margin:auto;
}
.entete{
    height: 100px;
}
.colonne_menu{
    float:left;
    width:200px;
    height:100%;
}
.colonne_contenu {
    margin-left:200px;
}
.pieddepage{
    height:50px;
}

/************************************************************
 * SAISISSEZ VOS DECLARATIONS CSS EN-DESSOUS DE CETTE LIGNE
 ************************************************************/
body{
	/* Pour avoir le choix des couleurs https://htmlcolorcodes.com/fr/noms-de-couleur/ */
    background-color: blue; 
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
.page {
	 
}
.entete{
    background-color: purple;
    padding: 10px;
}
.colonnes {
    background-color: deepskyblue;
}
.colonne_menu{
    background-color: red;
    margin: 10px;
}
.colonne_contenu {
    background-color: lightgreen;
}
.pieddepage{
    background-color: green;
    color: aqua;
    text-align: center;
    line-height: 0%;
}
.titre{
font-size: 12px;
color: yellow;
}

.slogan{
    font-size: 12px;
    color: yellow;
    font-style: italic;
}

h1{
    background-color: coral;
    margin: 10px;
    margin-bottom: 20px;
    border-bottom: 5px solid purple;
}
h2{
    color: darkblue;
    font-size: 15px;
    margin: 20px;
    font-variant-caps: all-petite-caps;

}

strong{
    color: darkturquoise;
    font-weight: none;
}

em{
    color: violet;
}

.introduction{
    font-style: italic;
    border: solid;
    margin: 10px;
    border-radius: 10px;
}

a{
   font-weight: 800; 
}
a:hover{
    color: black;
    text-decoration: none;
    
}



